
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.App-header {
  background-color: #282c34;

  min-height: 4vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.App-heading {
  font-family: 'Acme', sans-serif;
    color: white;
    margin: 20px;
    cursor: pointer;
    font-family: 'Itim', cursive;
    font-weight: 200;

}
