
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: #282c34;
  min-height: 4vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header h1 {
  font-family: 'Acme', sans-serif;
    color: white;
    margin: 16px 16px 16px 20px;
    cursor: pointer;
    font-family: 'Itim', cursive;
    font-weight: 200;

}
.note{

  max-width:260px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  float: left;
  /* to keep it in a row */

}
.note h3 {
padding: 10px 10px 2px 13px;
}
.note p{
  padding: 1px 10px 8px 13px;
}

footer{
  font-family: 'Acme', sans-serif;
  font-family: 'Itim', cursive;
  text-align: center;
  width: 100%;
  height: 2.4rem;
  position: absolute;
  bottom: 0;
}
